.title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-top: 4rem;
}

.lessons_cards {
  margin-top: 2.4rem;
}

.card {
  padding: 1.6rem 2.4rem;
  border-radius: 2.5rem;
  color: #6F6F6F;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.card h4 {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card > div p {
  margin-top: 0.3rem;
}

.card:not(:last-child) {
  margin-bottom: 1.6rem;
}

.card > div:not(:last-child) {
  margin-bottom: 1.2rem;
}

.status_box {
  position: absolute;
  left: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  padding-block: 1rem;
  width: 150px;
  text-align: center;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
}

.kids_names {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  background-color: #F6F6F6;
  width: fit-content;
  border-radius: 1rem;
  border: 1px solid #D2D2D280;
  padding: 0.4rem 1rem;
  margin-top: 3.6rem;
}

.kids_names > div {
  padding: 1.3rem 3.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}


