.status_wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.count_lessons {
  margin-top: 1.2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.all_hours_info {
  margin-top: 1.6rem;
  display: grid;
  gap: 1.6rem;
  max-height: 380px;
  overflow-y: auto;
  padding-left: 1rem;
  overscroll-behavior: contain;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}
.title p {
  font-size: 1.4rem;
}

.title svg {
  cursor: pointer;
}

.progress {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.progress > div {
  width: 100%;
  display: inline;
}

.progress span {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-top: 1.2rem;
}


