.test_classes {
  font-weight: 300;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.dot {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--secondary-color);
}

.satisfaction_container {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.timing,
.info_paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.timing {
  margin-top: 2.4rem;
}

.timing_box {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  max-height: 51rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-left: 0.5rem;
}

.timing_box > section {
  flex: 1;
}

.titles_box {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  gap: 8rem
}

.label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
}

.label span {
  font-weight: 300;
  color: #6F6F6F;
}

.info_paragraphs p {
  font-weight: 300;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.section_header {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_header > span {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 600;
}

.section_header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: #1C8A441A;
  padding: 0.9rem 1.1rem;
}

.section_header button span {
  font-size: 1.4rem;
  color: #636765;
}