.loginBox {
  width: clamp(300px, 90%, 546px);
  display: grid;
  gap: 1.6rem;
}

.logo {
  width: 216px;
  display: flex;
}

.loginBox form {
  display: grid;
  width: 490px;
}

.loginBox article {
  padding-bottom: 0;
}

.formInput {
  border-radius: 1rem;
  padding: 1.45rem 1.6rem;
  position: relative;
  cursor: text;
  background-color: #F4F4F4;
  line-height: 19px;
  font-size: 1.6rem;
}

.formInput[type="text"] {
  margin-top: 4rem;
}

.formInput[type="text"] + p {
  margin-top: 0.5rem;
}

.formInput[type="password"] {
  margin-top: 2.4rem;
}

::placeholder {
  color: var(--login-gray-color)
}

.loginBox form label span {
  position: relative;
  color: #B5B7C0;
  font-size: 1.8rem;
  transition: 0.3s;
}

.loginBox form label span.hide,
.loginBox form label:has(input:focus) span {
  opacity: 0;
}

.loginBox form label span::after {
  content: "*";
  position: absolute;
  left: -14px;
  color: red;
  font-size: 3rem;
  bottom: -8px;
}

.loginBox form label input {
  position: absolute;
  inset: 0;
  z-index: -1;
  padding-inline: 1.6rem;
  user-select: all;
}

.loginBox form a {
  color: var(--login-gray-color);
  width: fit-content;
  margin: 1.6rem auto 0 0;
}

.loginBox form button {
  background-color: var(--main-color);
  color: #fff;
  padding: 1.45rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2.4rem;
}

.loginBox h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.loginWithBox {
  margin-top: 4rem;
}

.loginWithBox p {
  color: #787575;
  position: relative;
  text-align: center;
}

.loginWithBox p span {
  background-color: #fff;
  padding-inline: 1rem;
  position: relative;
  color: var(--login-gray-color);
  font-size: 1.4rem;
}

.loginWithBox p::before {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #EBEBEB;
  height: 1px;
  width: 100%;
  right: 0;
}

.actionsBox {
  display: grid;
  gap: 1.6rem;
  margin-top: 1.6rem;
  color: #171717;
  font-size: 1.8rem;
}

.actionsBox button {
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--main-color);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
}

.actionsBox > div {
  display: flex;
  align-items: center;
  justify-content: center;
}