.MuiDataGrid-root .MuiDataGrid-toolbarContainer {
  justify-content: flex-end;
}

.MuiDataGrid-root .MuiButton-startIcon {
  margin: 0;
}

.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-cell {
  text-align: center;
}

.MuiDataGrid-root .MuiTablePagination-toolbar {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.MuiDataGrid-root .MuiTablePagination-actions,
.MuiDataGrid-root .MuiTablePagination-selectLabel,
.MuiDataGrid-root .MuiTablePagination-displayedRows {
  direction: ltr;
}