 /* Table Custom Styles */
 .MuiDataGrid-columnHeaderTitle {
    color: #8D8D8D
}
.MuiDataGrid-cell {
    text-align: center !important;
}
.MuiToolbar-root{
    direction: ltr !important;
}
.MuiDataGrid-toolbarContainer {
    direction: ltr !important;
}
.MuiButtonBase-root{
    direction: rtl;
    padding: 1rem;
    gap:1rem;
}
.MuiButton-startIcon {
    margin:0 !important;
}
.custom-date-time-picker .MuiOutlinedInput-root {
    border: none !important; /* Hide the border */
  }
  
  .custom-date-time-picker .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: none !important; /* Hide the outline */
  }
  
  .custom-date-time-picker .MuiInputBase-input {
    display: none !important; /* Hide the input text */
  }
  
  .custom-date-time-picker .MuiInputLabel-root {
    display: none !important; /* Hide the label */
  }
  
  .custom-date-time-picker .MuiInputAdornment-root {
    visibility: visible !important; /* Ensure the icon is visible */
  }
  .MuiPickersArrowSwitcher-root {
    direction: ltr !important;

  }