.welcome_section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 3.2rem;
}

.welcome_section__info {
  background-color: #7AB79057;
  padding-inline: 3.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome_section__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 4rem;
}

.welcome_section__desc {
  margin-top: 1.6rem;
  font-size: 2.4rem;
}

.welcome_section__img {
  display: flex;
  align-self: flex-end;
  flex-shrink: 0;
}