.reviewModal {
  width: 500px;
  max-width: 100%;
  padding: 3.2rem;
  text-align: center;
  z-index: 10;
}

.reviewModal h3 {
  font-size: 2rem;
}

.caption {
  font-size: 1rem;
  color: #B0B0B0;
}

.btn_container {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container button {
  margin: 0 2.1rem;
}