.reviewModal {
  width: 500px;
  max-width: 100%;
  padding: 3.2rem;
  text-align: center;
  z-index: 10;
}

.reviewModal > svg {
  margin-inline: auto;
}

.reviewModal h3 {
  font-size: 2rem;
  margin-top: 1.6rem;
}

.caption {
  font-size: 1rem;
  color: #B0B0B0;
  margin: 1.6rem auto 0;
  width: 50%;
}

.btn_container {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
