.modal {
  margin: auto;
  border: none;
  outline: none;
  min-width: 500px;
  padding: 2.4rem;
  border-radius: 1.6rem;
  font-family: 'Expo', sans-serif;
}

.modal__title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #D2DAC9;
}

.modal__form {
  margin-top: 1.6rem;
}

.modal_actions {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}


.headerModal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.1rem;
  margin-bottom: 1.6rem;
}

.text_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.text_box span {
  color: #222121;
  font-size: 1.4rem;
}