.personal_info {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.text_box h4 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--secondary-color);
}

.text_box p {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  color: #ACACAC;
}

menu {
  color: #616161;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

menu li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rate_box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.rate_box span {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 2rem;
}

.goalsAndSubjects {
  margin-top: 1.8rem;
  display: grid;
  gap: 1.8rem;
}

.goalsAndSubjects > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}