/* height 737 */

.sidebar {
  background-color: #EFEFEF;
  padding: 3.2rem 1.8rem 4.8rem;
  display: flex;
  flex-direction: column;
  max-width: 80px;
  position: relative;
  z-index: 5;
}

.main_nav_menu  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-top: 3rem;
}

.collapse_menu {
  width: 165px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #1c8a44;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  font-size: 10px;
  font-weight: 500;

  background-color: #F9F9F9;
  color: #7F7F7F;
  padding-right: 20px;
}

.active_collapse_menu {
  display: flex;
}

.collapse_menu p {
  padding: 8px 20px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
}

.collapse_menu_icon {
  color: #909090;
}

.support {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #1C8A44;

}


.active_link {
  background-color: #1C8A44;
  color: #fff;
  stroke: #fff;
  border-radius: 0.8rem;
  font-weight: 400;
}

.main_menu_title {
  font-size: 10px;
  font-weight: 500;
  text-align: right;
  margin: 5px;
  color: #1C8A44;

}

@media (max-width: 991px) {
  .sidebar {
    background-image: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    background-color: #fff;
    z-index: 999;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .sidebar.open {
    transform: translateX(0);
    width: 100%;
    position: fixed;
  }
}

.avatarBox {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: auto;
}

/* 
.avatarBox img {
  height: 100%;
  object-fit: cover;
} */

.arrow {
  cursor: pointer;
  position: absolute;
  left: -16px;
  top: 0;
}

@media (max-width: 991px) {
  .arrow {
    display: none;
  }
}

.logo {
  display: block;
  margin-inline: auto;
}

/* .sidebar nav {
  padding: 3.2rem 1.6rem 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
} */

.sidebar .main_menu {
  color: #fff;
  display: grid;
  gap: 0.8rem;
}

.sidebar .main_menu {
  /*padding-bottom: 2.4rem;*/
  /*margin-bottom: 2.4rem;*/
  /*border-bottom: 1px solid #ebebeb;*/
}

.sidebar menu a,
.sidebar menu .navList_item {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.sidebar menu a.mini_nav_link {
  flex-direction: row;
  stroke: #909090;

}
.sidebar menu a.mini_nav_link.active_link {
  stroke: #fff;
}


.sidebar menu a span,
.signout span {
  flex: 1;
  white-space: nowrap;
}

.sidebar menu a span.collapse {
  display: none;
}

.signout {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 991px) {

  .sidebar menu,
  .signout {
    color: var(--gray-color);
  }
}