.sidebar {
  background-color: #EFEFEF;
  padding: 3.2rem 0.5rem 4.8rem;
  display: flex;
  flex-direction: column;
  max-width: 80px;
  position: relative;
  z-index: 5;
  height: 100vh;
}

.main_nav_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-top: 7rem;
  gap: 2.4rem;
}

.support {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
}

.icon_style {
  display: flex;
  align-items: center;
}

.active_link.icon_style {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 1rem;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_menu_title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-color);
}

@media (max-width: 991px) {
  .sidebar {
    background-image: none;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    background-color: #fff;
    z-index: 999;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .sidebar.open {
    transform: translateX(0);
    width: 100%;
    position: fixed;
  }
}

.avatarBox {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: auto;
}

.arrow {
  cursor: pointer;
  position: absolute;
  left: -16px;
  top: 0;
}

@media (max-width: 991px) {
  .arrow {
    display: none;
  }
}

.logo {
  display: block;
  margin-inline: auto;
  width: 7rem;
}

.sidebar .main_menu {
  color: var(--main-color);
  display: grid;
  gap: 0.8rem;
}

.sidebar .main_menu:nth-of-type(2) {
  color: var(--main-color);
}

.sidebar menu a,
.sidebar menu .navList_item,
.logoutIcon {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
}

.sidebar menu a.mini_nav_link {
  flex-direction: row;
  stroke: #909090;

}

.sidebar menu a.mini_nav_link.active_link {
  stroke: #fff;
}


.sidebar menu a span,
.signout span {
  flex: 1;
  white-space: nowrap;
}

.sidebar menu a span.collapse {
  display: none;
}