.error {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--error-color);
    font-size: 3.6rem;
}
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.6rem;
    font-weight: 700;
}
.status_wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
  }