.rating_label {
  color: #171717;
}

.stars_container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.stars_container svg {
  width: 18px;
  height: 18px;
}

.stars_container button svg {
  width: 14px;
  height: 14px;
}

