.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

/*.MuiDataGrid-root .MuiDataGrid-columnHeader,*/
/*.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-cell {*/
/*  flex: 1;*/
/*}*/

.MuiDataGrid-filler,
.MuiDataGrid-cellEmpty {
  display: none;
}

.MuiDataGrid-root .edit-cell {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.reload-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 1rem;
  background-color: #1C8A441A;
  padding: 0.9rem 1.1rem;
  margin-bottom: 1.6rem;
}

.reload-button span {
  font-size: 1.4rem;
  color: #636765;
}