.heading_button_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.attendance_box {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lesson_actions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.lesson_actions button {
  width: 15rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  color: #ffff;
  border-radius: 1rem;
}

.lesson_actions button:first-child {
  background-color: var(--main-color);
}

.lesson_status {
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  color: #c99309;
  background-color: #ffb8002e;
  font-size: 1.2rem;
  font-weight: 500;
  padding-block: 1rem;
  border-radius: 999px;
  text-align: center;
  width: 128px;
}
.lesson_indicator {
  display: flex;
  gap: 1.6rem;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 3rem;
}
.entrance_data {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.2rem;
}
.entrance_data p {
  font-size: 1.4rem;
  color: #aab8af;
  margin-left: 2rem;
}

.start_timer {
  display: flex;
  justify-content: end;
  margin-left: 1rem;
}
