.MuiPickersPopper-root .MuiPickersArrowSwitcher-root {
  direction: ltr;
}

.MuiPickersPopper-root .MuiPickersDay-dayWithMargin {
  height: 2.8rem ;
  border-radius: 0;
}

.MuiPickersPopper-root .MuiPickersLayout-contentWrapper {
  max-width: 45.6rem;
  max-height: 39.1rem;
  margin: 1.6rem;
}

.MuiPickersPopper-root .MuiDateCalendar-root {
  max-width: 20.8rem;
}

.MuiPickersPopper-root .MuiDayCalendar-weekContainer {
  margin: 0.6rem 0;
}

.MuiPickersPopper-root .MuiPickersCalendarHeader-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.MuiPickersPopper-root .MuiPickersArrowSwitcher-leftArrowIcon,
.MuiPickersPopper-root .MuiPickersArrowSwitcher-rightArrowIcon{
  width: 1.6rem;
  height: 1.6rem;
}

.MuiPickersPopper-root .MuiPickersCalendarHeader-root {
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.MuiPickersPopper-root .MuiPickersCalendarHeader-labelContainer {
  margin-right: 0;
}

.MuiPickersPopper-root .MuiYearCalendar-root {
  width: auto;
}

.MuiPickersPopper-root .MuiYearCalendar-root .MuiPickersYear-yearButton {
  width: 6.2rem;
  height: 2.5rem;
  font-size: 1.4rem;
  line-height: 1;
}

.MuiPickersPopper-root .MuiYearCalendar-root .MuiPickersYear-yearButton.Mui-selected {
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: #fff;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-root {
  width: auto;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-item {
  width: 6rem;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-item:first-of-type {
  margin-top: 0;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-item.Mui-selected {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0.8rem;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-root::after {
  content: none;
}

.MuiPickersPopper-root .MuiMultiSectionDigitalClockSection-root:not(:first-of-type) {
  border: none;
}
.MuiPickersPopper-root .MuiDialogActions-root,
.MuiPickersPopper-root .MuiDivider-root {
  display: none;
}

.custom-date-time-picker .MuiSvgIcon-root,
.custom-date-time-picker .MuiInputBase-input-MuiOutlinedInput-input,
.custom-date-time-picker .MuiOutlinedInput-notchedOutline,
.custom-date-time-picker .MuiOutlinedInput-input,
.custom-date-time-picker .MuiInputLabel-root {
  display: none;
}

.custom-date-time-picker .MuiIconButton-root::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 0.75rem;
  background-image: url("../../../assets/calendarArrow.svg");
  background-size: cover;
}