.card {
  width: calc((100% / 3) - 2.2rem);
  padding: 1.6rem 1.6rem;
  border-radius: 2.5rem;
  color: #6F6F6F;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.card h4 {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.2rem;
  direction: ltr;
  text-align: right;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.status_box {
  
  padding-block: 0.4rem;
  width: 10rem;
  text-align: center;
  border-radius: 10rem;
  margin-top: 1rem;
}

.role_title{
  max-width: 17rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
.status_data{
  font-size: 1.2rem;
  position: absolute;
  left: 1.6rem;
  bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}
.uploaded_files {
  color: var(--main-color);
}