.card {
  width: 43.1rem;
  padding: 1.6rem 1.6rem;
  border-radius: 2.5rem;
  color: #6F6F6F;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.card h4 {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.2rem;
  width:27rem;
  direction: ltr;
  text-align: right;
}

.card > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.4rem;
}

.status_box {
  position: absolute;
  left: 1.6rem;
  bottom: 1.6rem;
  padding-block: 0.4rem;
  width: 10rem;
  text-align: center;
  border-radius: 10rem;
  border: 0rem solid;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.role_title{
  max-width: 22rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}