.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
  }
  
  .actions button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: 0.8rem 1.2rem;
    color: #313131;
    font-size: 1.4rem;
  }
  
  .actions button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* table page  */
  
  .balance_container {
    display: grid;
    grid-template-columns: 1fr 282px;
    gap: 4rem;
    flex: 1;
  }
  
  .balance_left {
    padding-right: 2.4rem;
    padding-top: 28px;
    background-color: #F1F1F166;
    height: 100%;
    border-radius: 1rem;
  }
  
  
  .link_item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 2.4rem;
  }
  
  .link_item p {
    font-size: 12px;
    font-weight: 400;
  
    margin: 0 1rem;
    color: #919191;
  
  }
  
  .balance_right {
    margin-top: 28px;
  
  }
  
  .balance_right_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search_bar {
    position: relative;
    width: 417px;
    height: 48px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #C3C3C3;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    /* margin-left: 1.6rem; */
  
  }
  
  .search_bar .inputbox {
    position: relative;
    background: transparent;
    padding: 12px 24px;
  
    width: 100%;
  }
  
  
  .icon {
    position: absolute;
    right: 5%;
    top: 30%;
  }
  
  .filter_button {
    width: 4.8rem;
    height: 4.8rem;
  }
  
  .divider {
    border: 1px solid #E4E4E452;
    margin-bottom: 1rem;
    margin-top: 2.4rem;
  }