@import "tailwindcss";
@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-react-grids/styles/material.css";
@import "@syncfusion/ej2-buttons/styles/material.css";
@import "@syncfusion/ej2-dropdowns/styles/material.css";
@import "@syncfusion/ej2-inputs/styles/material.css";
@import "@syncfusion/ej2-navigations/styles/material.css";
@import "@syncfusion/ej2-popups/styles/material.css";
@import "@syncfusion/ej2-splitbuttons/styles/material.css";
@font-face {
  font-family: "Expo";
  src: url("./fonts/ExpoArabicLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Expo";
  src: url("./fonts/ExpoArabicBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Expo";
  src: url("./fonts/ExpoArabicMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  overflow-x: hidden;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
menu {
  list-style: none;
}

:root {
  --main-color: #1c8a44;
  --secondary-color: #212121;
  --gray-color: #6f6f6f;
  --login-gray-color: #A0A1A7;
  --orange-color: #ffb72b;
  --error-color: #EC221F;
}

.container {
  min-height: 100vh;
  font-family: 'Expo','IBM Plex Sans Arabic', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

@supports (min-height: 100dvh) {
  /* .container {
    min-height: 100dvh;
  } */

  .container {
    min-height: 100dvh;
    max-width: 100%;
    overflow-x: auto;
  }
}

.mainContainer {
  display: flex;
  position: relative;
}

/* .grid {
  display: grid;
  grid-template-columns: 19rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "nav head" "nav content";
}

@media (max-width: 991px) {
  .grid {
    display: block;
  }
} */

.contentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
}

.content {
  padding: 3.2rem 4.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

@media (max-width: 991px) {
  .content {
    padding: 1rem;
    flex: unset;
  }
}

.active {
  background-color: var(--main-color);
  border-radius: 0.5rem;
  color: #fff;
  height: 3.2rem;
}

.error {
  color: red;
  font-size: 1.3rem;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.preview .closeIcon {
  position: absolute;
  left: -1rem;
  top: -1rem;
}

.phone-cell {
  direction: ltr;
}

.select_wrapper:not(:has(.colorInput))::before {
  content: '--اختر--';
  position: absolute;
  top: 50%;
  right: 1.6rem;
  background: transparent;
  font-size: 1rem;
  color: #cdcdcd;
  transform: translateY(-50%);
  font-weight: 500;
}

.select_wrapper:has(.removeBefore)::before,
.select_wrapper.removeBefore::before {
  content: '';
}

.feedback {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback:has(.includeAsATeacher) {
  bottom: -1.5rem !important;
}

.includeAsATeacher .checkboxItem {
  gap: 1rem;
}

.colorInput {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

.MuiDataGrid-filler,
.MuiDataGrid-cellEmpty {
  display: none;
}

.MuiDataGrid-root .edit-cell {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

/* override MUI styles */
.MuiFormControl-root .MuiInputBase-formControl {
  flex-direction: row-reverse;
  gap: 1rem;
  height: 42px;
  border-radius: 1rem;
}

.MuiInputBase-formControl:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23) !important;
}
.MuiInputBase-formControl.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--main-color) !important;
}

.MuiTelInput-IconButton {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.MuiFormHelperText-root.Mui-error {
  color: red;
  text-align: right;
  margin-inline: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator--sideRight {
  right: unset !important;
  left: -5px;
}

.MuiDrawer-root .MuiDrawer-paper {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
  font-family: 'Expo', 'IBM Plex Sans Arabic', sans-serif;
}

.search-button-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.search-button-container .MuiButton-root {
  width: 10.9rem;
  height: 4.8rem;
  border-radius: 1rem;
}

.MuiDataGrid-filterFormColumnInput .MuiInputLabel-root,
.MuiDataGrid-filterFormOperatorInput .MuiInputLabel-root,
.MuiDataGrid-filterFormValueInput .MuiInputLabel-root {
  left: unset !important;
  right: 0;
}

.MuiMenu-list .MuiMenuItem-root {
  font-size: 1.2rem;
}

.MuiDataGrid-root .MuiTablePagination-selectLabel,
.MuiDataGrid-root .MuiTablePagination-displayedRows {
  direction: ltr;
}

.MuiTablePagination-actions {
  display: flex;
  flex-direction: row-reverse;
}

.MuiButtonBase-root[title="Go to next page"] {
  transform: rotate(180deg);
}

.MuiButtonBase-root[title="Go to previous page"] {
  transform: rotate(-180deg);
}

.MuiSelect-select {
  padding: 0;
}

/* change the font of google button */
.nsm7Bb-HzV7m-LgbsSe {
  border-radius: 1rem !important;
  color: var(--secondary-color) !important;
  height: 48px !important;
  padding: 1.2rem 3.2rem !important;
  width: 478px !important;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Expo",'IBM Plex Sans Arabic', sans-serif !important;
  flex-grow: 0 !important;
  font-size: 1.8rem !important;
  margin-top: 2px;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  flex-direction: row-reverse !important;
  justify-content: center !important;
}

.fc-direction-rtl .fc-timegrid-slot-label-frame {
  text-align: center !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  width: 2.4rem !important;
  height: 2.4rem !important;
}


.loadingBox {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal {
  font-family: 'Expo','IBM Plex Sans Arabic', sans-serif;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 1.6rem;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  padding-bottom: 2.4rem;
  align-self: start;
}

@media (max-width: 991px) {
  .group {
    align-self: stretch;
    min-width: fit-content;
  }
}

.group.addBtn {
  align-self: center;
  padding-bottom: 0;
  top: -3px;
}

.group.addBtn button {
  width: fit-content;
}

.inputField,
select,
.searchDropdownInput,
textarea {
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid #c7c7c7;
  outline: none;
  font-size: 1.4rem;
  color: var(--secondary-color);
  min-height: 4.2rem;
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 130px;
}

.searchDropdownInput {
  cursor: pointer;
  caret-color: transparent;
}

.select_wrapper {
  position: relative;
  cursor: pointer;
}

.select_wrapper::after,
.searchDropdownInput::after {
  content: url("./assets/select_arrow.svg");
  position: absolute;
  top: 60%;
  left: 1.6rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.select_wrapper select {
  appearance: none;
  width: 100%;
  background-color: white;
  cursor: pointer;
}

.inputField::placeholder,
textarea::placeholder,
.firstOption {
  font-family: "Expo",'IBM Plex Sans Arabic', sans-serif;
  font-size: 1rem;
  color: #cdcdcd;
  font-weight: 500;
}

.inputField[type="tel"] {
  text-align: right;
}

.adminFormLabel {
  font-family: "Expo",'IBM Plex Sans Arabic', sans-serif;
  font-size: 1.4rem;
  color: #818181;
}

.hr {
  border: 1px solid #E4E4E452;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.required::after {
  content: "*";
  color: red;
  font-weight: 400;
  font-size: 2.5rem;
  position: absolute;
  top: -10px;
  margin-right: 0.5rem;
}

input#formatted_number::placeholder {
  color: #000;
  font-size: 1.6rem;
}

.dropdown-placeholder {
  opacity: 0;
}

.calendar_wrapper {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 488px 1fr;
  gap: 2rem;
}
/* ******************** GLOBAL CLASSES  *********************** */
/* ******************** BUTTONS  *********************** */
.submit-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  gap: 2rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding-block: 1.5rem;
  border-radius: 1rem;
  min-width: 150px;
}

.submit-btn {
  background-color: var(--main-color);
  color: #fff;
}

.cancel-btn {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.error-btn {
  background-color: var(--error-color);
  color: #fff;
  border: none;
}

.confirm-btn {
  background-color: #F5F5F7;
  color: var(--main-color);
  border: none;

}

.helper-text {
  font-size: 1.2rem;
  color: #cdcdcd;
}

.helper-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
}

.link-text {
  color: #0174BE;
  text-decoration: underline;
}

.add-action-btn {
  color: var(--main-color);
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: underline;
}


/* ******************** FLEX & M  *********************** */


.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}



.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}



/* ************************ */
.form button[disabled],
.disabled_btn {
  background-color: #fafafa !important;
  /* background-color: #D8DADC !important; */
  cursor: not-allowed !important;
}

.modal__title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #D2DAC9;
}

.modal__form {
  margin-top: 1.6rem;
}

.tab_description {
  color: #A0A1A7;
}

.modal_desc {
  font-size: 1.4rem;
  color: #A0A1A7;
  margin-top: 1rem;
}

/* Scroll bar */
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px; /* Base width */
}

::-webkit-scrollbar-thumb {
  background: #1C8A44;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
}

/* Syncfusion Table */
.syncfusion-grid {
  font-family: 'Expo','IBM Plex Sans Arabic', sans-serif !important;
}

.e-pager.e-rtl .e-parentmsgbar {
  float: right !important;
  direction: ltr;
}

.e-grid .e-emptyrow td {
  text-align: center !important;
  font-weight: 500;
  color: #666;
}

.e-grid.e-rtl td.e-rowcell,
.e-grid.e-rtl .e-headercell .e-headercelldiv {
  text-align: center !important;
  padding-inline: 0 !important;
}

@keyframes caret-blink {
  0%, 70%, 100% {
    opacity: 1;
  }
  20%, 50% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1.25s ease-out infinite;
}
