@font-face {
  font-family: "Expo Arabic";
  src: url("./fonts/ExpoArabicBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Expo Arabic";
  src: url("./fonts/ExpoArabicMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  overflow-x: hidden;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
menu {
  list-style: none;
}

:root {
  --main-color: #1c8a44;
  --secondary-color: #171717;
  --gray-color: #6f6f6f;
  --orange-color: #ffb72b;
}

.container {
  min-height: 100vh;
  font-family: 'Expo Arabic', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

@supports (min-height: 100dvh) {
  .container {
    min-height: 100dvh;
  }
}

.mainContainer {
  display: flex;
}

/* .grid {
  display: grid;
  grid-template-columns: 19rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "nav head" "nav content";
}

@media (max-width: 991px) {
  .grid {
    display: block;
  }
} */

.contentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 3.2rem;
  /* padding-bottom: 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .content {
    padding: 1rem;
    flex: unset;
  }
}

.active {
  background-color: #ffb72b;
  border-radius: 0.8rem;
  font-weight: 700;
}

.error {
  font-weight: 700;
  color: red;
  font-size: 1.3rem;
}

.preview {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5rem;
  position: relative;
}

.preview .closeIcon {
  position: absolute;
  left: -1rem;
  top: -1rem;
}

.css-r40f8v-MuiTypography-root,
.css-10hburv-MuiTypography-root {
  font-size: 1.6rem !important;
  font-family: inherit !important;
}

.MuiTelInput-IconButton {
  background-color: transparent !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
  position: static !important;
}

.css-1wc848c-MuiFormHelperText-root {
  color: red !important;
  font-size: 1.3rem !important;
  font-family: inherit !important;
  font-weight: 700 !important;
  margin: 0 !important;
  text-align: right !important;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
  font-size: 1.6rem !important;
  box-sizing: border-box !important;
  padding: 1.2rem 1.6rem !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  direction: ltr;
  padding-block: 0.5rem;
  border-radius: 1rem !important;
}

.icon {
  display: flex;
  align-items: center;
}

/* .icon svg,
.icon svg > path,
.icon svg > path[fill] {
  stroke: #fff;
  fill: #fff;
}

@media (max-width: 991px) {
  .icon svg, 
  .icon svg > path
  .icon svg > path[fill] {
    stroke: var(--secondary-color);
    fill: var(--secondary-color);
  }
} */

/* change the font of google button */
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Tajawal", sans-serif !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  flex-direction: row-reverse !important;
}

.fc-direction-rtl .fc-timegrid-slot-label-frame {
  text-align: center !important;
}

.loadingBox {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal {
  font-family: "Tajawal", sans-serif;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 1.6rem;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  padding-bottom: 2.4rem;
  align-self: flex-start;
}

.inputField,
select,
.searchDropdownInput,
textarea {
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid #c7c7c7;
  outline: none;
  font-size: 1.6rem;
  color: var(--secondary-color);
}

textarea {
  resize: none;
  width: 100%;
  height: 130px;
}

.searchDropdownInput {
  cursor: pointer;
}

.select_wrapper {
  position: relative;
  cursor: pointer;
}

.select_wrapper::after,
.searchDropdownInput::after {
  content: url("./assets/select_arrow.svg");
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.select_wrapper select {
  appearance: none;
  width: 100%;
  background-color: white;
  cursor: pointer;
  font-family: inherit;
}

.inputField::placeholder,
textarea::placeholder,
.firstOption {
  font-family: "Expo Arabic";
  font-size: 1rem;
  color: #cdcdcd;
  font-weight: 500;
}

.inputField[type="tel"] {
  text-align: right;
}

.adminFormLabel {
  font-family: "Expo Arabic";
  font-size: 1.2rem;
  color: #818181;
}

.hr {
  border: 1px solid #E4E4E452;
  margin-bottom: 2.4rem;
}

.required-star {
  color: #E11D48;
  margin-left: 5px;
  vertical-align: middle;
}

/* ******************** GLOBAL CLASSES  *********************** */
/* ******************** BUTTONS  *********************** */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding-block: 1.5rem;
  border-radius: 1rem;
  min-width: 130px;
}

.submit-btn {
  background-color: var(--main-color);
  color: #fff;
}

.cancel-btn {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.helper-text {
  font-size: 1rem;
  color: #cdcdcd;
}

.add-action-btn {
  color: var(--main-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}



.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}